<!--
    Authors: Justin Donath, Dominic Martin
-->

<template>
    <div ref="searchComponent">
        <input
            class="w-full p-4 text-xl transition-all text-cat-white bg-cat-grey focus:outline-none rounded-2xl"
            type="text"
            :placeholder="$t('search.bar')"
            v-model="searchInput"
            @input="search()"
            @focusin="setSearchActive()"
        />
        <div
            class="w-full -mt-4 overflow-hidden transition-all shadow-lg bg-cat-grey rounded-b-2xl"
            :class="{ hidden: !searchActive || fullListView }"
        >
            <div class="mt-4">
                <group-component
                    v-for="chat in searchResults"
                    :id="chat.id"
                    :name="chat.name"
                    :memberCount="chat.memberCount"
                    :capacity="chat.capacity"
                    :publicChat="chat.publicChat"
                    :headerSearch="true"
                />
            </div>
            <div
                class="block border-t-2 pt-1 pb-1 border-cat-light-grey text-[80%]"
            >
                <router-link
                    :to="{ name: 'groups' }"
                    class="my-auto ml-5 text-cat-white text-md hover:text-cat-button-color"
                    @click="prepareForFullList()"
                >
                    {{ $t('search.showAll') }}
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import GroupComponent from '@/components/groups/GroupComponent.vue';
import { useChatStore } from '@/stores/chatStore';
import { useRoute } from 'vue-router';
import { CONFIG } from '@/config';

@Options({
    components: {
        GroupComponent,
    },
})
export default class HeaderSearchComponent extends Vue {
    chatStore = useChatStore();
    route = useRoute();

    searchActive = false;
    searchInput: string = '';
    searchTimeout = 0;

    /**
     * Get the first three (best matching) search results.
     * Limiting here explicitly because there could be more results
     * in the store.
     */
    get searchResults() {
        return this.chatStore.searchResults.slice(0, 3);
    }

    get totalResults() {
        return this.chatStore.totalResults;
    }

    get fullListView() {
        return this.route.name === 'groups';
    }

    /**
     * Search available chats, taking the input after 200ms.
     * Limit results to a maximum of QUICK_SEARCH_GROUPS with no offset.
     * Limit results to a maximum of FULL_SEARCH_GROUPS
     * if searching in group view.
     */
    search() {
        clearTimeout(this.searchTimeout);
        this.searchTimeout = setTimeout(async () => {
            const resultAmount = this.fullListView
                ? CONFIG.FULL_SEARCH_GROUPS
                : CONFIG.QUICK_SEARCH_GROUPS;
            await this.chatStore.searchAvailableChats(
                this.searchInput,
                resultAmount,
                0
            );
        }, 200);
    }

    /**
     * Set the search active and setup an event listener to close it again.
     */
    setSearchActive() {
        this.searchActive = true;

        const eventListener = (event: Event) => {
            const searchComponent = this.$refs.searchComponent as HTMLElement;

            // detect a click outside of the element.
            if (
                searchComponent != event.target &&
                !searchComponent.contains(event.target as HTMLElement)
            ) {
                this.searchActive = false;
                window.removeEventListener('click', eventListener);
            }
        };

        window.addEventListener('click', eventListener);
    }

    /**
     * Run the search again with 10 results to prepare for the groups view.
     */
    async prepareForFullList() {
        this.searchActive = false;

        await this.chatStore.searchAvailableChats(this.searchInput, 10, 0);
    }
}
</script>
