<!--
    Authors: Adrian Leuteritz
-->

<template>
    <div
        class="flex px-3 py-2 bg-cat-dark-grey lg:px-5"
        :class="{
            'justify-between': userStore.loggedIn,
            'justify-center': !userStore.loggedIn,
        }"
    >
        <router-link class="flex items-center flex-none h-full" to="/">
            <img src="/images/logo.png" class="flex-none rounded-2xl h-[90%]" />
            <p
                class="ml-4 text-5xl text-white md:block font-koulen"
                :class="{ hidden: userStore.loggedIn }"
            >
                CatChad
            </p>
        </router-link>
        <div
            class="relative items-center justify-center inline-block h-full mx-4 transition-all min-w-content"
            v-if="userStore.loggedIn"
        >
            <header-search-component />
        </div>
        <div
            class="flex items-start justify-end pt-2 md:w-[22%]"
            v-if="userStore.loggedIn"
        >
            <nav class="flex items-center h-[80%] px-2 justify-start space-x-4">
                <div
                    class="relative inline-block h-full cursor-pointer group min-w-fit dropdown"
                >
                    <div
                        class="flex items-center justify-center flex-none w-10 h-10 rounded-full bg-cat-light-grey"
                    >
                        <fas
                            class="h-5 text-cat-white"
                            icon="fa-solid fa-flag"
                        />
                    </div>

                    <div
                        class="group-hover:block absolute flex-row hidden -left-[45px] min-w-fit dropdown-content bg-cat-grey rounded-2xl top-[45px]"
                    >
                        <span
                            @click="setLanguage('de')"
                            class="block w-[130px] text-center px-4 py-3 text-white hover:bg-cat-light-grey rounded-2xl"
                            >Deutsch - DE</span
                        >
                        <span
                            @click="setLanguage('en')"
                            class="block w-[130px] text-center px-4 py-3 text-white hover:bg-cat-light-grey rounded-2xl"
                            >English - EN</span
                        >
                    </div>
                </div>

                <div
                    class="relative flex items-center justify-start h-full cursor-pointer group min-w-fit dropdown"
                >
                    <fas class="h-5 text-cat-white" icon="fa-solid fa-user " />
                    <span
                        class="px-4 overflow-hidden text-xl text-cat-white text-ellipsis whitespace-nowrap max-w-[150px]"
                    >
                        {{ userStore.user!.displayName }}
                    </span>
                    <div
                        class="absolute hidden top-[45px] -left-[10px] min-w-fit dropdown-content bg-cat-grey rounded-2xl group-hover:block"
                    >
                        <router-link
                            class="block w-full px-4 py-3 text-left text-white hover:bg-cat-light-grey rounded-2xl"
                            :to="{ name: 'settings' }"
                        >
                            {{ $t('header.profile') }}
                        </router-link>
                        <button
                            @click="logout()"
                            class="block w-full px-4 py-3 text-left text-white hover:bg-cat-light-grey rounded-2xl"
                        >
                            {{ $t('header.logout') }}
                        </button>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import { useUserStore } from '@/stores/userStore';
import HeaderSearchComponent from './HeaderSearchComponent.vue';

@Options({
    components: {
        HeaderSearchComponent,
    },
})
export default class HeaderComponent extends Vue {
    searchActive = false;
    userStore = useUserStore();

    async logout() {
        await this.userStore.logout();

        this.$router.push({ name: 'login' });
    }

    setLanguage(language: string) {
        this.$i18n.locale = language;
    }
}
</script>
