<!--
    Authors: Adrian Leuteritz, Dominic Martin
-->

<template>
    <div
        class="flex flex-col p-3 bg-gray-300"
        :class="{
            'self-end  bg-sky-400 ': ownMessage,
            'self-start': !ownMessage,
        }"
    >
        <div
            class="flex"
            :class="{
                'justify-end': ownMessage,
                'justify-between': !ownMessage,
            }"
        >
            <span v-if="!ownMessage" class="text-sm text-cat-grey group"
                >{{ displayName }}
                <span
                    class="hidden text-sm italic group-hover:inline-block text-cat-grey"
                    >({{ userName }})</span
                >
            </span>
            <span class="text-sm text-cat-grey">
                {{
                    Math.floor(Date.now() / (1000 * 60 * 60 * 24)) >
                    Math.floor(Date.parse(createdAt) / (1000 * 60 * 60 * 24))
                        ? Intl.DateTimeFormat(undefined, {
                              day: '2-digit',
                              month: '2-digit',
                              year: 'numeric',
                          }).format(new Date(createdAt))
                        : ''
                }}
                {{
                    Intl.DateTimeFormat(undefined, {
                        hour: '2-digit',
                        minute: '2-digit',
                    }).format(new Date(createdAt))
                }}
            </span>
        </div>
        <p v-html="content" class="break-words"></p>
        <span v-if="ownMessage" class="self-end text-sm text-cat-grey">
            {{ !successfullySent ? 'noch nicht' : '' }} gesendet
        </span>
    </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';

@Options({
    components: {},
    props: {
        content: String,
        type: Number,
        userName: String,
        displayName: String,
        createdAt: String,
        successfullySent: Boolean,
        ownMessage: Boolean,
    },
})
export default class MessageComponent extends Vue {
    content!: string;
    type!: number;
    userName!: string;
    displayName!: string;
    createdAt!: string;
    successfullySent?: boolean;
    ownMessage!: boolean;
}
</script>
