<!--
    Authors: Justin Donath
-->

<template>
    <div
        class="flex flex-col items-center py-1 shadow-md cursor-pointer hover:bg-cat-light-grey rounded-xl"
    >
        <div
            class="flex items-center justify-center flex-none w-16 h-16 rounded-full bg-cat-light-grey"
        >
            <fas class="h-8 text-cat-white" icon="fa-solid fa-user " />
        </div>
        <span
            class="w-24 h-8 mx-2 mt-4 text-xs text-center truncate group text-cat-white text"
        >
            {{ displayName }}
            <span
                class="hidden text-sm italic group-hover:inline-block text-cat-grey"
                >({{ userName }})</span
            >
        </span>
    </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';

@Options({
    components: {},
    props: {
        id: Number,
        userName: String,
        displayName: String,
    },
})
export default class AvailableUserComponent extends Vue {
    id!: number;
    userName!: string;
    displayName!: string;
}
</script>
