<!--
    Authors: Justin Donath, Dominic Martin
-->

<template>
    <div
        :class="{
            'flex items-center justify-between mx-auto p-1 border-t-2 border-cat-light-grey hover:bg-cat-light-grey cursor-pointer':
                headerSearch,
            'flex items-center justify-between mx-auto mt-2 bg-cat-light-grey w-[95%] min-w-content h-16 cursor-pointer hover:bg-cat-dark-grey':
                !headerSearch,
        }"
        @click="showProfile($event)"
    >
        <div class="flex items-center space-x-2 w-[120px] ml-3">
            <div
                class="flex items-center justify-center flex-none w-[40px] h-[40px] rounded-full bg-cat-light-grey"
            >
                <fas class="h-5 text-cat-white" icon="fa-solid fa-users" />
            </div>
            <span
                :class="{
                    'font-semibold text-xl text-cat-white': headerSearch,
                    'font-semibold text-2xl text-cat-white': !headerSearch,
                }"
            >
                {{ name }}
            </span>
        </div>
        <div
            :class="{
                'ml-2 flex items-center justify-center h-8 shadow-lg bg-cat-green-grey rounded-2xl':
                    headerSearch,
                'ml-2 mr-2 flex items-center justify-center h-10 shadow-lg bg-cat-green-grey rounded-2xl':
                    !headerSearch,
            }"
        >
            <span class="mx-2 text-sm font-bold text-cat-white">
                {{ memberCount }}/{{ capacity }}
            </span>
        </div>

        <button
            type="button"
            :ref="'joinButton' + id"
            @click="joinGroup()"
            class="ml-4 btn-blue"
        >
            {{ $t('groups.join') }}
        </button>
    </div>
</template>

<script lang="ts">
import { useChatStore } from '@/stores/chatStore';
import { ErrorType } from '@/types/errors';
import { Options, Vue } from 'vue-class-component';
import { useRouter } from 'vue-router';

@Options({
    components: {},
    props: {
        id: Number,
        name: String,
        memberCount: Number,
        capacity: Number,
        createdAt: String,
        publicChat: Boolean,
        myGroup: Boolean,
        headerSearch: Boolean,
    },
})
export default class GroupComponent extends Vue {
    id!: number;
    name!: string;
    memberCount!: number;
    capacity!: number;
    createdAt!: string;
    publicChat!: boolean;
    myGroup!: boolean;
    headerSearch!: boolean;

    chatStore = useChatStore();
    router = useRouter();

    joining = false;

    errors: ErrorType[] = [];

    async joinGroup() {
        this.joining = true;
        this.errors = await this.chatStore.joinChat(this.id);
        this.joining = false;

        if (this.errors.length === 0) {
            // redirect to joined chat and set it active
            this.chatStore.activeChatId = this.id;
            this.router.push({ name: 'chat' });
        }
    }

    showProfile(event: Event) {
        // if the user did not click directly on join
        if (event.target != this.$refs['joinButton' + this.id]) {
            this.router.push({
                name: 'group-profile',
                params: { id: this.id },
            });
        }
    }
}
</script>
