<!--
    Authors: Justin Donath, Dominic Martin
-->

<template>
    <div class="flex flex-row items-center space-x-2">
        <img class="w-6 h-6 rounded-full bg-cat-light-grey" />
        <span class="w-24 text-sm italic truncate group text-cat-white text">
            {{ displayName }}
            <span
                class="hidden text-sm italic group-hover:inline-block text-cat-grey"
                >({{ userName }})</span
            >
        </span>
        <template v-if="userIsAdmin">
            <span class="text-sm text-cat-green">{{ $t('user.added') }}</span>
            <button
                v-if="userStore.user!.id != id"
                type="button"
                class="p-2 text-sm rounded-lg hover:bg-cat-red hover:text-cat-white text-cat-remove"
                @click="$emit(removeUser, id)"
                :disabled="disableRemove"
            >
                {{ $t('user.remove') }}
            </button>
        </template>
    </div>
</template>

<script lang="ts">
import { useUserStore } from '@/stores/userStore';
import { Options, Vue } from 'vue-class-component';

@Options({
    components: {},
    props: {
        id: Number,
        userName: String,
        displayName: String,
        userIsAdmin: Boolean,
        disableRemove: Boolean,
    },
    emits: {
        removeUser: (id: number) => {
            return id;
        },
    },
})
export default class MemberComponent extends Vue {
    id!: number;
    userName!: string;
    displayName!: string;
    userIsAdmin!: boolean;
    disableRemove!: boolean;

    userStore = useUserStore();

    removeUser = 'removeUser';
}
</script>
