<!--
    Authors: Justin Donath
-->

<template>
    <div
        class="flex-none flex items-center justify-center mt-2 bg-cat-light-grey w-full px-2 h-[60px] cursor-pointer hover:bg-cat-dark-grey transition-colors"
        @click="openChat()"
    >
        <div
            class="flex items-center justify-center flex-none w-[40px] h-[40px] rounded-full bg-cat-button-color"
        >
            <fas class="h-5 text-cat-white" icon="fa-solid fa-users" />
        </div>
        <span
            class="w-full px-2 overflow-hidden text-xl font-semibold text-cat-white sm:block whitespace-nowrap overflow-ellipsis md:block"
            :class="{ hidden: !showName }"
        >
            {{ name }}
        </span>
        <fas
            v-if="userIsAdmin"
            class="h-5 text-cat-white md:block"
            :class="{ hidden: !showName }"
            icon="fa-solid fa-crown"
        />
    </div>
</template>

<script lang="ts">
import { CONFIG } from '@/config';
import { useChatStore } from '@/stores/chatStore';
import { useMessageStore } from '@/stores/messageStore';
import { Options, Vue } from 'vue-class-component';
import { useRouter } from 'vue-router';

@Options({
    props: {
        id: Number,
        name: String,
        memberCount: Number,
        capacity: Number,
        createdAt: String,
        publicChat: Boolean,
        showName: Boolean,
        userIsAdmin: Boolean,
    },
})
export default class MyGroupComponent extends Vue {
    chatStore = useChatStore();
    messageStore = useMessageStore();
    router = useRouter();

    id!: number;
    name!: string;
    memberCount!: number;
    capacity!: number;
    createdAt!: string;
    publicChat!: boolean;
    showName!: boolean;
    userIsAdmin!: boolean;

    /**
     * Open the Chat in the chat window and load messages.
     */
    openChat() {
        this.chatStore.activeChatId = this.id;
        // load latest messages
        this.messageStore.loadMessages(this.id, CONFIG.INITIAL_MESSAGES);
        // redirect to the chat page (dashboard)
        this.router.push({ name: 'chat' });
    }
}
</script>
