<!--
    Authors: Justin Donath
-->

<template>
    <div
        class="flex flex-col flex-none h-full"
        @mouseover="setHoverTrue(true)"
        @mouseleave="setHoverTrue(false)"
    >
        <div
            class="p-3 flex items-center justify-center md:justify-between bg-cat-green-grey h-[60px] rounded-tl-2xl w-full"
            :class="{ 'justify-between': hover }"
        >
            <h1
                class="p-1 text-2xl text-cat-white md:block whitespace-nowrap font-koulen"
                :class="{ block: hover, hidden: !hover }"
            >
                {{ $t('groups.myGroups') }}
            </h1>
            <router-link
                class="flex items-center justify-center h-full p-1 overflow-hidden rounded-lg cursor-pointer text-cat-white hover:bg-cat-light-grey"
                :title="$t('groups.create')"
                :to="{ name: 'create-group' }"
            >
                <span class="text-5xl">+</span>
            </router-link>
        </div>
        <div
            class="flex flex-col overflow-y-auto bg-cat-grey h-[calc(100%-60px)] space-y-2 px-2 pb-4 scrollbar-thin scrollbar-track-gray-500 scrollbar-thumb-gray-800"
        >
            <my-group-component
                v-for="chat in chatStore.chats"
                :key="chat.id"
                :id="chat.id"
                :name="chat.name"
                :memberCount="chat.memberCount"
                :capacity="chat.capacity"
                :publicChat="chat.publicChat"
                :showName="hover"
                :userIsAdmin="chat.userIsAdmin"
            />
        </div>
    </div>
</template>

<script lang="ts">
import { useChatStore } from '@/stores/chatStore';
import { useMessageStore } from '@/stores/messageStore';
import { Options, Vue } from 'vue-class-component';
import MyGroupComponent from './MyGroupComponent.vue';

@Options({
    components: {
        MyGroupComponent,
    },
})
export default class MyGroupListComponent extends Vue {
    chatStore = useChatStore();
    messageStore = useMessageStore();
    hover = false;

    setHoverTrue(hover: boolean) {
        this.hover = hover;
    }
}
</script>
