<!--
    Authors: Adrian Leuteritz
-->

<template>
    <div
        class="py-1 flex my-2 items-center justify-center mx-4 shadow-md h-28 xl:w-[250px] w-[180px] hover:bg-cat-light-grey rounded-xl"
    >
        <div
            class="flex items-center justify-center flex-none w-16 h-16 rounded-full bg-cat-light-grey"
        >
            <fas class="h-8 text-cat-white" icon="fa-solid fa-user " />
        </div>
        <p
            class="w-24 mx-2 text-xs text-center truncate group text-cat-white text"
        >
            {{ displayName }}
            <span
                class="hidden text-sm italic group-hover:inline-block text-cat-grey"
                >({{ userName }})</span
            >
        </p>
    </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
@Options({
    components: {},
    props: {
        id: Number,
        userName: String,
        displayName: String,
    },
})
export default class UserComponent extends Vue {
    id!: number;
    userName!: string;
    displayName!: string;
}
</script>
