<!--
    Authors: Justin Donath, Dominic Martin
-->

<template>
    <div class="flex w-full h-full">
        <img class="hidden 2xl:block w-[200%]" src="/images/login.PNG" />
        <div
            class="flex items-center justify-center w-full shadow-xl bg-cat-dark-grey"
        >
            <form
                class="flex flex-col items-center w-[85%] h-[75%] bg-cat--grey shadow-cat-grey shadow-2xl rounded-2xl sm:w-[80%] max-w-[450px]"
                @submit.prevent="login()"
            >
                <div class="flex items-center mt-8 space-x-4">
                    <img
                        src="/images/logo.png"
                        class="rounded-full w-14 h-14 md:w-20 md:h-20"
                    />
                    <h1
                        class="text-2xl font-bold text-center text-white md:text-4xl drop-shadow-lg"
                    >
                        {{ $t('login.heading') }}
                    </h1>
                    <img
                        src="/images/logo.png"
                        class="rounded-full w-14 h-14 md:w-20 md:h-20"
                    />
                </div>

                <span
                    class="text-md md:text-lg text-center text-cat-white w-[80%] mt-6 font-bold drop-shadow-md"
                >
                    {{ $t('subtitle.login1') }}
                </span>
                <span
                    class="md:text-3xl text-2xl text-center text-white w-[80%] font-bold drop-shadow-md"
                >
                    {{ $t('subtitle.login2') }}
                </span>
                <span
                    v-for="error in errors"
                    :key="error.code"
                    class="text-base font-bold text-center text-cat-red"
                >
                    {{ $t(error.code) }}
                </span>

                <div class="flex flex-col items-center mt-12 space-y-4">
                    <input
                        v-model="usernameInput"
                        type="message"
                        :placeholder="$t('userName')"
                        required
                        class="p-2 text-center border shadow-lg w-60 text-md text-cat-dark-grey rounded-xl"
                    />
                    <input
                        v-model="passwordInput"
                        type="password"
                        :placeholder="$t('password.password')"
                        required
                        class="p-2 text-center border shadow-lg w-60 text-md text-cat-dark-grey rounded-xl"
                    />
                </div>

                <div class="flex flex-col items-center mt-16 space-y-4">
                    <button
                        type="submit"
                        :disabled="loading"
                        class="p-3 text-lg text-center transition-colors shadow-lg cursor-pointer w-60 text-cat-white bg-cat-dark-grey hover:font-bold hover:text-black hover:bg-cat-white rounded-xl"
                    >
                        {{ $t('login.action') }}
                    </button>
                    <router-link
                        class="p-3 text-lg text-center transition-colors shadow-lg cursor-pointer w-60 text-cat-white bg-cat-dark-grey hover:font-bold hover:text-black hover:bg-cat-white rounded-xl"
                        to="/register"
                    >
                        {{ $t('register.action_link') }}
                    </router-link>
                </div>
            </form>
        </div>
    </div>
</template>

<script lang="ts">
import { useUserStore } from '@/stores/userStore';
import { ErrorType } from '@/types/errors';
import { Options, Vue } from 'vue-class-component';

@Options({
    components: {},
})
export default class LoginView extends Vue {
    usernameInput: string = '';
    passwordInput: string = '';

    loading: boolean = false;

    userStore = useUserStore();

    errors: ErrorType[] = [];

    async login() {
        this.loading = true;

        this.errors = await this.userStore.login({
            userName: this.usernameInput,
            password: this.passwordInput,
        });

        // redirect to intended page before login or dashboard if sucessfully logged in
        if (this.errors.length == 0) {
            this.$router.push(
                (this.$route.query.redirect as string) || {
                    name: 'dashboard',
                }
            );
        }

        this.loading = false;
    }
}
</script>
