<!--
    Authors: Justin Donath, Dominic Martin
-->

<template>
    <div class="flex justify-between w-full h-full">
        <img
            class="hidden 2xl:block min-w-content"
            src="/images/register1.PNG"
        />
        <div class="flex items-center justify-center w-full bg-cat-dark-grey">
            <form
                class="flex flex-col items-center justify-center shadow-xl shadow-cat-grey w-[85%] h-[75%] rounded-2xl max-w-[450px]"
                @submit.prevent="register()"
            >
                <div class="flex items-center mt-16 space-x-4">
                    <img
                        src="/images/logo.png"
                        class="rounded-full w-14 h-14 md:w-20 md:h-20"
                    />
                    <h1
                        class="text-3xl font-bold text-center text-white md:text-5xl drop-shadow-lg"
                    >
                        {{ $t('register.heading') }}
                    </h1>
                    <img
                        src="/images/logo.png"
                        class="rounded-full w-14 h-14 md:w-20 md:h-20"
                    />
                </div>

                <span
                    class="mt-6 text-lg font-bold text-center text-cat-white drop-shadow-md"
                >
                    {{ $t('subtitle.register') }}
                </span>
                <div
                    class="flex flex-col items-center justify-center my-8 space-y-4"
                >
                    <input
                        v-model="displayNameInput"
                        type="text"
                        :placeholder="$t('displayName')"
                        required
                        class="w-64 p-2 text-center shadow-lg text-md text-cat-dark-grey rounded-xl"
                    />
                    <template v-for="error in errors" :key="error.code">
                        <span
                            v-if="error.field?.includes('userName')"
                            class="text-base font-bold text-center text-cat-red"
                        >
                            {{ $t(error.code) }}
                        </span>
                    </template>
                    <input
                        v-model="userNameInput"
                        type="text"
                        :placeholder="$t('userName')"
                        required
                        class="w-64 p-2 text-center shadow-lg text-md text-cat-dark-grey rounded-xl"
                    />

                    <div class="min-h-min">
                        <span
                            class="text-base font-bold text-center text-cat-red"
                            v-if="passwordInput.length > 0 && !passwordLengthOk"
                        >
                            {{ $t('register.error1') }}
                        </span>
                    </div>

                    <input
                        v-model="passwordInput"
                        type="password"
                        :placeholder="$t('password.password')"
                        required
                        class="w-64 p-2 text-center shadow-lg text-md text-cat-dark-grey rounded-xl"
                    />

                    <div class="min-h-min">
                        <span
                            class="text-base font-bold text-cat-red"
                            v-if="
                                passwordInputRep.length > 0 && !passwordMatches
                            "
                        >
                            {{ $t('register.error2') }}
                        </span>
                    </div>

                    <input
                        v-model="passwordInputRep"
                        type="password"
                        :placeholder="$t('password.repeat')"
                        required
                        class="w-64 p-2 text-center shadow-lg text-md text-cat-dark-grey rounded-xl"
                    />
                </div>

                <div class="flex flex-col items-center mb-16 space-y-4">
                    <button
                        type="submit"
                        :disabled="
                            !passwordLengthOk || !passwordMatches || loading
                        "
                        class="w-64 p-3 text-lg text-center transition-colors shadow-lg cursor-pointer text-cat-white bg-cat-dark-grey hover:font-bold hover:text-black hover:bg-cat-white rounded-xl"
                    >
                        <span>
                            {{ $t('register.action_link') }}
                            <i
                                :visible="!loading"
                                class="fa fa-spinner fa-spin"
                            ></i>
                        </span>
                    </button>
                    <router-link
                        class="w-64 p-3 text-lg text-center transition-colors shadow-lg cursor-pointer text-cat-white bg-cat-dark-grey hover:font-bold hover:text-black hover:bg-cat-white rounded-xl"
                        to="/login"
                    >
                        {{ $t('register.back') }}
                    </router-link>
                </div>
            </form>
        </div>
        <img
            class="hidden bg-cat-dark-grey 2xl:block min-w-content"
            src="/images/register2.png"
        />
    </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import { ErrorType, ResponseError } from '@/types/errors';
import axios from 'axios';

@Options({
    components: {},
})
export default class Register extends Vue {
    userNameInput: string = '';
    displayNameInput: string = '';
    passwordInput: string = '';
    passwordInputRep: string = '';

    errors: ErrorType[] = [];

    loading: boolean = false;

    /**
     * check pasword requirements
     */
    get passwordMatches() {
        return this.passwordInput == this.passwordInputRep;
    }

    get passwordLengthOk() {
        return this.passwordInput.length >= 8;
    }

    async register() {
        this.loading = true;

        await axios
            .post('/register', {
                userName: this.userNameInput,
                password: this.passwordInput,
                displayName: this.displayNameInput,
            })
            .then((response) => {
                // successfully registered, redirect to login page
                this.$router.push({ name: 'login' });
            })
            .catch((error: ResponseError) => {
                this.errors = error.response.data.errors;
            })
            .catch((error) => {
                console.log(error);
            });

        this.loading = false;
    }
}
</script>
