<!--
    Authors: Adrian Leuteritz, Dominic Martin
-->

<template>
    <div class="flex flex-col items-center justify-start w-full h-full">
        <div
            class="flex items-center w-11/12 px-3 justify-left rounded-t-2xl bg-cat-green-grey h-[60px]"
        >
            <h1 class="text-2xl text-cat-white font-koulen">
                {{ $t('settings.heading') }}
            </h1>
        </div>
        <div
            class="flex flex-col w-11/12 h-[calc(100%-100px)] bg-cat-grey rounded-b-2xl overflow-y-auto scrollbar-thin scrollbar-track-gray-500 scrollbar-thumb-gray-800"
        >
            <div class="flex flex-col mt-4 ml-4">
                <button class="btn-gray" @click="abort()">
                    {{ $t('abort') }}
                </button>

                <div class="flex flex-col justify-center">
                    <div class="flex flex-col items-center">
                        <div
                            class="w-[150px] h-[150px] sm:w-[200px] sm:h-[200px] md:w-[250px] md:h-[250px] flex items-center justify-center flex-none rounded-full bg-cat-light-grey"
                        >
                            <fas
                                class="w-[70px] h-[70px] sm:w-[120px] sm:h-[120px] md:w-[170px] md:h-[170px] text-cat-white"
                                icon="fa-solid fa-user "
                            />
                        </div>
                    </div>

                    <form @submit.prevent="submitName()">
                        <div
                            class="flex items-center justify-center w-full px-3 mt-6 space-x-4"
                        >
                            <span
                                class="flex justify-center w-[40%] p-2 text-xs shadow-xl text-cat-white sm:text-base"
                            >
                                {{ $t('userName') }}
                            </span>
                            <div class="flex flex-col w-[60%]">
                                <template
                                    v-for="error in userErrors"
                                    :key="error.code"
                                >
                                    <span
                                        v-if="error.field?.includes('userName')"
                                        class="text-base font-bold text-center text-red-600"
                                    >
                                        {{ $t(error.code) }}
                                    </span>
                                </template>
                                <input
                                    required
                                    :disabled="loading"
                                    v-model="userNameInput"
                                    class="p-2 pl-3 text-xs shadow-xl text-cat-white bg-cat-light-grey rounded-2xl focus:outline-none sm:text-base"
                                    :class="{
                                        'border-red-500 border-2':
                                            userErrors.find((error) =>
                                                error.field?.includes(
                                                    'userName'
                                                )
                                            ) != undefined,
                                    }"
                                    type="text"
                                    :placeholder="$t('userName')"
                                />
                            </div>
                        </div>
                        <div
                            class="flex items-center justify-center w-full px-3 mt-12 space-x-4"
                        >
                            <span
                                class="flex justify-center w-[40%] p-2 text-xs shadow-xl text-cat-white sm:text-base"
                            >
                                {{ $t('displayName') }}
                            </span>
                            <div class="flex flex-col w-[60%]">
                                <template
                                    v-for="error in userErrors"
                                    :key="error.code"
                                >
                                    <span
                                        v-if="
                                            error.field?.includes('displayName')
                                        "
                                        class="text-base font-bold text-center text-red-600"
                                    >
                                        {{ $t(error.code) }}
                                    </span>
                                </template>
                                <input
                                    :disabled="loading"
                                    required
                                    v-model="nameInput"
                                    class="p-2 pl-3 text-xs shadow-xl text-cat-white bg-cat-light-grey rounded-2xl focus:outline-none sm:text-base"
                                    :class="{
                                        'border-red-500 border-2':
                                            userErrors.find((error) =>
                                                error.field?.includes(
                                                    'displayName'
                                                )
                                            ) != undefined,
                                    }"
                                    type="text"
                                    :placeholder="$t('displayName')"
                                />
                            </div>
                        </div>
                        <div class="flex items-center justify-center mt-6">
                            <button
                                :disabled="
                                    loading ||
                                    !nameInputHasChanged ||
                                    userNameInput.length == 0 ||
                                    nameInput.length == 0
                                "
                                class="disabled:bg-cat-light-grey disabled:bg-none btn-blue"
                                type="submit"
                            >
                                {{ $t('saveChanges') }}
                            </button>
                        </div>
                    </form>
                    <form @submit.prevent="submitPass()">
                        <div
                            class="flex items-center w-full px-3 mt-12 space-x-4"
                        >
                            <span
                                class="flex justify-center w-[40%] p-2 text-xs shadow-xl text-cat-white sm:text-base"
                            >
                                {{ $t('settings.password') }}
                            </span>

                            <div class="flex flex-col w-[60%]">
                                <template
                                    v-for="error in passErrors"
                                    :key="error.code"
                                >
                                    <span
                                        v-if="
                                            error.field?.includes('oldPassword')
                                        "
                                        class="text-base font-bold text-center text-red-600"
                                    >
                                        {{ $t(error.code) }}
                                    </span>
                                </template>
                                <input
                                    required
                                    v-model="currentPasswordInput"
                                    class="p-2 pl-3 mb-6 text-xs shadow-xl text-cat-white bg-cat-light-grey rounded-2xl focus:outline-none sm:text-base"
                                    :class="{
                                        'border-red-500 border-2':
                                            passErrors.find((error) =>
                                                error.field?.includes(
                                                    'oldPassword'
                                                )
                                            ) != undefined,
                                    }"
                                    type="password"
                                    :placeholder="
                                        $t(
                                            'settings.currentPasswordPlaceholder'
                                        )
                                    "
                                />
                                <span
                                    class="font-bold text-red-600"
                                    v-if="
                                        !passwordLengthOk &&
                                        newPasswordInput.length > 0
                                    "
                                >
                                    {{ $t('password.length') }}
                                </span>
                                <input
                                    required
                                    v-model="newPasswordInput"
                                    class="p-2 pl-3 mb-6 text-xs shadow-xl text-cat-white bg-cat-light-grey rounded-2xl focus:outline-none sm:text-base"
                                    type="password"
                                    :placeholder="
                                        $t('settings.newPasswordPlaceholder')
                                    "
                                    :class="{
                                        'border-red-500 border-2':
                                            ((!passwordMatches &&
                                                repeatPasswordInput.length >
                                                    0) ||
                                                !passwordLengthOk) &&
                                            newPasswordInput.length > 0,
                                    }"
                                />
                                <span
                                    class="font-bold text-red-600"
                                    v-if="
                                        !passwordMatches &&
                                        repeatPasswordInput.length > 0 &&
                                        newPasswordInput.length > 0
                                    "
                                >
                                    {{ $t('password.check') }}
                                </span>
                                <input
                                    required
                                    v-model="repeatPasswordInput"
                                    class="p-2 pl-3 text-xs shadow-xl text-cat-white bg-cat-light-grey rounded-2xl focus:outline-none sm:text-base"
                                    type="password"
                                    :placeholder="
                                        $t('settings.repeatPasswordPlaceholder')
                                    "
                                    :class="{
                                        'border-red-500 border-2':
                                            !passwordMatches &&
                                            repeatPasswordInput.length > 0 &&
                                            newPasswordInput.length > 0,
                                    }"
                                />
                            </div>
                        </div>
                        <div class="flex items-center justify-center mt-6 mb-4">
                            <button
                                :disabled="
                                    !passwordLengthOk ||
                                    !passwordMatches ||
                                    loading
                                "
                                class="disabled:bg-cat-light-grey disabled:bg-none btn-blue"
                                type="submit"
                            >
                                {{ $t('saveChanges') }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import { ErrorType } from '@/types/errors';
import { useUserStore } from '@/stores/userStore';
import { useRouter } from 'vue-router';
import { useNotificationStore } from '@/stores/notificationStore';
@Options({
    components: {},
})
export default class SettingsView extends Vue {
    userStore = useUserStore();
    router = useRouter();
    notificationStore = useNotificationStore();

    userNameInput: string = this.userStore.user?.userName || '';
    nameInput: string = this.userStore.user?.displayName || '';
    currentPasswordInput: string = '';
    newPasswordInput: string = '';
    repeatPasswordInput: string = '';

    loading: boolean = false;
    userErrors: ErrorType[] = [];
    passErrors: ErrorType[] = [];

    get nameInputHasChanged() {
        return (
            this.nameInput !== this.userStore.user?.displayName ||
            this.userNameInput !== this.userStore.user?.userName
        );
    }

    get passwordMatches() {
        return this.newPasswordInput == this.repeatPasswordInput;
    }

    get passwordLengthOk() {
        return this.newPasswordInput.length >= 8;
    }

    async submitName() {
        this.loading = true;

        this.userErrors = await this.userStore.update({
            userName: this.userNameInput,
            displayName: this.nameInput,
        });

        // display a success message
        this.notificationStore.displayNotification(this.$t('0022'), 'success');

        this.loading = false;
    }

    async submitPass() {
        this.loading = true;

        this.passErrors = await this.userStore.changePassword(
            this.newPasswordInput,
            this.currentPasswordInput
        );

        if (this.passErrors.length === 0) {
            // successfully changed password --> resset the inputs
            this.currentPasswordInput = '';
            this.newPasswordInput = '';
            this.repeatPasswordInput = '';

            // display a success message
            this.notificationStore.displayNotification(
                this.$t('0019'),
                'success'
            );
        }

        this.loading = false;
    }

    abort() {
        this.router.back();
    }
}
</script>
