@tailwind base;

@tailwind components;

@tailwind utilities;

.btn-blue {
    @apply w-[100px] sm:w-[200px] text-cat-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm py-2.5 text-center mr-2 mb-2;
}
.btn-gray {
    @apply w-[100px] sm:w-[200px] text-cat-white bg-gradient-to-r from-gray-600 to-gray-800 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-gray-600 dark:focus:ring-gray-800 font-medium rounded-lg text-sm py-2.5 text-center mr-2 mb-2;
}
.btn-red {
    @apply w-[100px] sm:w-[200px] text-cat-white bg-gradient-to-r from-pink-500 to-red-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm py-2.5 text-center mr-2 mb-2;
}
