<!--
    Authors: Adrian Leuteritz
-->

<template>
    <div class="flex items-center justify-center w-full h-full">
        <div class="flex flex-col items-center justify-center">
            <p class="text-4xl text-white">Error</p>
            <div class="flex items-center">
                <p class="text-white text-9xl">4</p>
                <img class="ml-6" width="250px" src="/images/errorcat.png" />
                <p class="text-white text-9xl">4</p>
            </div>
            <p class="text-4xl text-white">Page not found</p>
        </div>
    </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';

@Options({
    components: {},
})
export default class NotFoundView extends Vue {}
</script>
