<!--
    Authors: Dominic Martin
-->

<template>
    <Transition name="modal" v-show="show">
        <div
            class="fixed top-0 left-0 right-0 z-20 flex flex-col items-center justify-center h-screen px-5 pt-24 pb-10 transition-all bg-gray-900 bg-opacity-75"
        >
            <div
                class="relative flex flex-col max-h-full transition-all min-w-[300px]"
            >
                <div
                    class="flex items-center justify-between w-full p-3 rounded-t-lg bg-cat-green-grey"
                >
                    <h3 class="text-2xl text-white">
                        <slot name="header"> Header </slot>
                    </h3>
                    <button
                        class="p-2 text-white rounded-full focus:outline-none hover:bg-cat-dark-grey"
                        @click="$emit('close')"
                    >
                        <fas icon="fa-solid fa-times" />
                    </button>
                </div>
                <div class="p-3 text-white bg-cat-grey">
                    <slot name="body"> Body </slot>
                </div>
                <div class="p-3 text-white rounded-b-lg bg-cat-dark-grey">
                    <slot name="footer"> Footer </slot>
                </div>
            </div>
        </div>
    </Transition>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';

@Options({
    props: {
        show: Boolean,
    },
    emits: { close: 'close' },
})
export default class ModalComponent extends Vue {
    show!: boolean;

    close = 'close';
}
</script>

<style lang="postcss" scoped>
.modal-enter-active,
.modal-leave-active {
    @apply transition-all;
}

.modal-enter,
.modal-leave-to {
    @apply opacity-0;
}
</style>
