<!--
    Authors: Adrian Leuteritz
-->

<template>
    <div
        v-show="show"
        class="p-2 rounded-xl font-bold border-cat-dark-grey flex justify-center items-center border-4 break-words max-w-[300px] min-w-[200px] min-h-[100px] text-white h-46"
        :class="{
            'bg-cat-green': type == 'success',
            'bg-cat-red': type == 'error',
            'bg-cat-button-color': type == 'info',
        }"
    >
        <span class="text-center">
            {{ message }}
        </span>
    </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import { useNotificationStore } from '@/stores/notificationStore';

@Options({})
export default class NotificationComponent extends Vue {
    notificationStore = useNotificationStore();

    get message() {
        return this.notificationStore.message;
    }

    get show() {
        return this.notificationStore.show;
    }

    get type() {
        return this.notificationStore.type;
    }

    created() {
        this.notificationStore.i18n = this.$t;
    }
}
</script>
