<!--
    Authors: Justin Donath, Adrian Leuteritz, Dominic Martin
-->

<template>
    <div class="w-screen h-screen overflow-hidden bg-cat-dark-grey">
        <div class="flex justify-center">
            <notification-component class="absolute top-[100px] z-20" />
        </div>
        <header-component class="fixed top-0 left-0 w-screen h-[80px] z-10" />
        <div
            class="w-full h-[calc(100%-80px)] overflow-hidden mt-[80px] flex relative pt-2"
            :class="{ 'justify-center': !userStore.loggedIn }"
        >
            <router-view
                :class="{ 'mr-[15%] md:mr-[300px]': userStore.loggedIn }"
            />
            <div
                v-if="userStore.loggedIn"
                class="w-[15%] md:w-[300px] cursor-pointer hover:w-full md:hover:w-[300px] transition-all z-[2] absolute right-0 h-full"
            >
                <my-group-list-component />
            </div>
        </div>
        <modal-component
            :show="showCookieModal"
            @close="showCookieModal = false"
        >
            <template v-slot:header>
                {{ $t('cookie.header') }}
            </template>
            <template v-slot:body>
                {{ $t('cookie.notification') }}
            </template>
            <template v-slot:footer>
                <div class="flex items-center justify-center">
                    <button
                        type="button"
                        class="btn-blue"
                        @click="acceptCookie()"
                    >
                        {{ $t('ok') }}
                    </button>
                </div>
            </template>
        </modal-component>
    </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import HeaderComponent from '@/components/layout/HeaderComponent.vue';
import MyGroupListComponent from './components/groups/MyGroupListComponent.vue';
import NotificationComponent from '@/components/ui/NotificationComponent.vue';
import ModalComponent from './components/ui/ModalComponent.vue';
import { useUserStore } from './stores/userStore';

@Options({
    components: {
        HeaderComponent,
        MyGroupListComponent,
        NotificationComponent,
        ModalComponent,
    },
})
export default class App extends Vue {
    userStore = useUserStore();

    showCookieModal = true;

    created() {
        // detect whether the user has already aknowledged the cookie-notification
        const cookie = document.cookie
            .split(';')
            .find((cookie) => cookie.includes('cookie-aknowledged'));

        if (cookie) {
            this.showCookieModal = false;
        }
    }

    /**
     * Sets a cookie to store aknowledgement of the cookie-notification.
     * It expires after one year.
     */
    acceptCookie() {
        document.cookie += 'cookie-aknowledged=yes;max-age=31536000';

        this.showCookieModal = false;
    }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
</style>
