<!--
    Authors: Justin Donath, Dominic Martin
-->

<template>
    <div class="flex items-start justify-center w-full h-full">
        <div
            class="flex flex-col w-11/12 p-1 pr-3 h-11/12 bg-cat-grey rounded-2xl"
        >
            <div
                class="overflow-y-auto h-min scrollbar-thin scrollbar-track-gray-500 scrollbar-thumb-gray-800"
            >
                <group-component
                    v-for="chat in chats"
                    :key="chat.id"
                    :id="chat.id"
                    :name="chat.name"
                    :memberCount="chat.memberCount"
                    :capacity="chat.capacity"
                    :publicChat="chat.publicChat"
                />
            </div>
            <div class="flex justify-end h-10 mt-2 mr-4 space-x-4">
                <span class="text-lg font-bold text-white"
                    >{{ page + 1 }} / {{ totalPages + 1 }}</span
                >
                <button @click="selectPage(page - 1)" :disabled="page === 0">
                    <div class="inline-block w-6 h-full overflow-hidden">
                        <div
                            class="h-full origin-top-right transform -rotate-45 cursor-pointer bg-cat-light-grey hover:border-white hover:border-2"
                        ></div>
                    </div>
                </button>
                <button
                    @click="selectPage(page + 1)"
                    :disabled="page === totalPages"
                >
                    <div class="inline-block w-6 h-full overflow-hidden">
                        <div
                            class="h-6 origin-top-left transform rotate-45 cursor-pointer bg-cat-dark-grey hover:border-white hover:border-2"
                        ></div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import GroupComponent from '@/components/groups/GroupComponent.vue';
import { useChatStore } from '@/stores/chatStore';
import { CONFIG } from '@/config';
@Options({
    components: { GroupComponent },
})
export default class AllGroupsView extends Vue {
    chatStore = useChatStore();

    page = 0;

    get chats() {
        return this.chatStore.searchResults;
    }

    get totalResults() {
        return this.chatStore.totalResults;
    }

    /**
     * The total number of pages - 1.
     */
    get totalPages() {
        return Math.floor(this.totalResults / CONFIG.FULL_SEARCH_GROUPS);
    }

    created() {
        // load chats initially if there was direct navigation to the site
        if (this.chatStore.totalResults === 0) {
            this.chatStore.searchAvailableChats(
                this.chatStore.search,
                CONFIG.FULL_SEARCH_GROUPS,
                this.page * CONFIG.FULL_SEARCH_GROUPS
            );
        }
    }

    /**
     * Display the selected page of results.
     * This reruns the query.
     */
    async selectPage(page: number) {
        await this.chatStore.searchAvailableChats(
            this.chatStore.search,
            CONFIG.FULL_SEARCH_GROUPS,
            page * CONFIG.FULL_SEARCH_GROUPS
        );

        this.page = page;
    }
}
</script>
