<!--
    Authors: Justin Donath, Dominic Martin
-->

<template>
    <div class="flex flex-col items-center justify-start w-full h-full">
        <div
            class="flex items-center w-11/12 justify-start rounded-t-2xl bg-cat-green-grey h-[60px] px-3"
        >
            <h1 class="text-2xl text-cat-white font-koulen">
                {{ $t('groups.create') }}
            </h1>
        </div>

        <div
            class="w-11/12 h-[calc(100%-100px)] bg-cat-grey rounded-b-2xl overflow-y-auto scrollbar-thin scrollbar-track-gray-500 scrollbar-thumb-gray-800"
        >
            <form
                class="flex flex-col justify-between h-full"
                @submit.prevent="createGroup()"
            >
                <div>
                    <div
                        class="flex flex-col w-full sm:flex-row sm:justify-around sm:mx-auto"
                    >
                        <div class="flex flex-col items-center mt-2">
                            <div
                                class="mb-2 w-[150px] h-[150px] sm:w-[200px] sm:h-[200px] md:w-[250px] md:h-[250px] flex items-center justify-center flex-none rounded-full bg-cat-light-grey"
                            >
                                <fas
                                    class="w-[70px] h-[70px] sm:w-[120px] sm:h-[120px] md:w-[170px] md:h-[170px] text-cat-white"
                                    icon="fa-solid fa-users"
                                />
                            </div>
                            <div class="flex justify-center mb-4 w-36">
                                <input
                                    type="text"
                                    v-model="name"
                                    class="w-[80%] text-center duration-300 border-b-2 outline-none text-cat-white border-cat-light-grey bg-cat-grey focus:w-full focus:duration-300 focus:shadow-md"
                                    :placeholder="$t('groups.name')"
                                    required
                                />
                            </div>
                        </div>

                        <div class="flex flex-col items-center">
                            <!--TODO: set a maximum length for the description-->
                            <textarea
                                v-model="description"
                                class="w-[250px] h-[170px] sm:w-[300px] sm:h-[200px] md:h-[250px] lg:w-[350px] p-4 mt-2 text-xs outline-none text-cat-white rounded-2xl bg-cat-dark-grey focus:shadow-md resize-none"
                                :placeholder="$t('groups.description')"
                                required
                            />
                            <div class="flex flex-row mt-5">
                                <div
                                    class="flex items-center justify-center h-10 border-2 rounded-l-lg shadow-md cursor-pointer border-cat-light-grey hover:bg-cat-light-grey"
                                    :class="{
                                        'font-bold text-cat-white bg-cat-light-grey':
                                            publicChat,
                                    }"
                                    @click="setPublicActive(true)"
                                >
                                    <span class="px-2 text-sm">
                                        {{ $t('groups.public') }}
                                    </span>
                                </div>
                                <div
                                    class="flex items-center justify-center h-10 border-2 rounded-r-lg shadow-md cursor-pointer border-cat-light-grey hover:bg-cat-light-grey"
                                    :class="{
                                        'font-bold text-cat-white bg-cat-light-grey':
                                            !publicChat,
                                    }"
                                    @click="setPublicActive(false)"
                                >
                                    <span class="px-2 text-sm">
                                        {{ $t('groups.private') }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="flex justify-center mt-5 sm:justify-start sm:ml-6 rounded-xl"
                    >
                        <input
                            type="text"
                            class="h-10 p-4 text-md w-[250px] text-cat-white bg-cat-dark-grey focus:outline-none rounded-xl"
                            :placeholder="$t('groups.addUser')"
                            v-model="userSearchInput"
                            @input="searchAvailableUsers()"
                        />
                    </div>
                    <div
                        class="h-[230px] grid grid-cols-1 mx-6 mt-2 overflow-y-auto md:grid-cols-2 lg:grid-cols-8 scrollbar-thin gap-1 scrollbar-track-gray-500 scrollbar-thumb-gray-800"
                    >
                        <available-user-component
                            v-for="user in availableUsers"
                            :id="user.id"
                            :userName="user.userName"
                            :displayName="user.displayName"
                            @click="addUser(user.id)"
                        />
                    </div>
                    <div class="flex flex-col justify-center mt-4 ml-6">
                        <member-component
                            v-for="user in members"
                            :id="user.id"
                            :userName="user.userName"
                            :displayName="user.displayName"
                            :userIsAdmin="true"
                            @removeUser="removeUser($event)"
                        />
                    </div>
                </div>
                <div class="flex justify-center my-4 space-x-auto sm:space-x-8">
                    <button type="submit" class="btn-blue">
                        {{ $t('groups.create_action') }}
                    </button>
                    <button class="btn-gray" @click="abort()">
                        {{ $t('abort') }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import AvailableUserComponent from '@/components/groups/AvailableUserComponent.vue';
import MemberComponent from '@/components/groups/MemberComponent.vue';
import { User } from '@/types/models';
import { useChatStore } from '@/stores/chatStore';
import { useNotificationStore } from '@/stores/notificationStore';
import { ErrorType } from '@/types/errors';
import { useRouter } from 'vue-router';
import { CONFIG } from '@/config';

@Options({
    components: {
        AvailableUserComponent,
        MemberComponent,
    },
})
export default class CreateGroupComponent extends Vue {
    chatStore = useChatStore();
    router = useRouter();
    notificationStore = useNotificationStore();

    name = '';
    description = '';
    // TODO: actually let the user choose the capacity
    capacity = 99;
    publicChat = true;

    searchTimeout = 0;
    userSearchInput = '';

    // TODO: display the errors in the form
    errors: ErrorType[] = [];

    members: User[] = [];
    availableUsers: User[] = [];

    created() {
        // get inital available users without a specific search term and no delay.
        this.searchAvailableUsers(0);
    }

    setPublicActive(decision: boolean) {
        this.publicChat = decision;
    }

    /**
     * Search available chats, taking the input after 200ms.
     * Limit results to a maximum of USER_SEARCH_RESULTS with no offset.
     */
    searchAvailableUsers(timeout: number = 200) {
        clearTimeout(this.searchTimeout);
        this.searchTimeout = setTimeout(async () => {
            // fill available users without a selected chat
            // since it's not in the database yet.
            this.availableUsers = await this.chatStore.searchAvailableMembers(
                0,
                this.userSearchInput,
                CONFIG.USER_SEARCH_RESULTS,
                0
            );

            // filter out users that are already selected as members
            const memberIds = this.members.flatMap((user) => user.id);

            this.availableUsers = this.availableUsers.filter(
                (user) => !memberIds.includes(user.id)
            );
        }, timeout);
    }

    /**
     * Add the specified user to the members list.
     */
    addUser(id: number) {
        this.members.push(this.availableUsers.find((user) => user.id === id)!);

        // remove the user from the available users list
        this.availableUsers = this.availableUsers.filter(
            (user) => user.id != id
        );
    }

    /**
     * Remove the specified user from the members list.
     */
    removeUser(id: number) {
        const user = this.members.find((member) => member.id === id)!;

        this.members = this.members.filter((member) => member != user);

        // prepend the user to the available users list.
        this.availableUsers.splice(0, 0, user);
    }

    /**
     * Create the group by submitting the data.
     */
    async createGroup() {
        this.errors = await this.chatStore.create(
            this.name,
            this.description,
            this.capacity,
            this.publicChat,
            this.members.map((member) => member.id)
        );

        if (this.errors.length === 0) {
            // group successfully created
            // display a success message
            this.notificationStore.displayNotification(
                this.$t('0005', {
                    groupName: this.name,
                }),
                'success'
            );
            // redirect to the freshly created group-chat
            // the chat is set to active by the store function
            this.router.push({ name: 'chat' });
        }
    }

    /**
     * Abort the group create and redirect back.
     */
    abort() {
        this.router.back();
    }
}
</script>
