<!--
    Authors: Justin Donath, Adrian Leuteritz, Dominic Martin
-->

<template>
    <div class="flex flex-col items-center justify-start w-full h-full">
        <div
            class="w-11/12 justify-left rounded-t-2xl bg-cat-green-grey h-[60px] flex items-center px-3"
        >
            <h1 class="text-2xl text-cat-white font-koulen">
                {{ $t('groups.header') }}
            </h1>
        </div>

        <div
            class="flex flex-col w-11/12 h-[calc(100%-100px)] bg-cat-grey rounded-b-2xl overflow-y-auto scrollbar-thin scrollbar-track-gray-500 scrollbar-thumb-gray-800"
        >
            <form @submit.prevent="updateGroup()" class="flex flex-col">
                <div class="flex flex-col w-full sm:flex-row sm:justify-around">
                    <div class="flex flex-col items-center mt-2">
                        <div
                            class="mb-2 w-[150px] h-[150px] sm:w-[200px] sm:h-[200px] md:w-[250px] md:h-[250px] flex items-center justify-center flex-none rounded-full bg-cat-light-grey"
                        >
                            <fas
                                class="w-[70px] h-[70px] sm:w-[120px] sm:h-[120px] md:w-[170px] md:h-[170px] text-cat-white"
                                icon="fa-solid fa-users"
                            />
                        </div>
                        <div class="flex justify-center w-48 mb-4">
                            <input
                                type="text"
                                class="w-[80%] text-center duration-300 border-b-2 outline-none text-cat-white border-cat-light-grey bg-cat-grey focus:w-full focus:duration-300 focus:shadow-md"
                                v-model="name"
                                :placeholder="$t('groups.name')"
                            />
                        </div>
                    </div>

                    <div class="flex flex-col items-center">
                        <textarea
                            class="w-[250px] h-[170px] sm:w-[300px] sm:h-[200px] md:h-[250px] lg:w-[350px] p-4 mt-2 text-xs outline-none text-cat-white rounded-2xl bg-cat-dark-grey focus:shadow-md resize-none"
                            v-model="description"
                            :placeholder="$t('groups.description')"
                        />
                        <div class="flex flex-row mt-5">
                            <div
                                class="flex items-center justify-center h-10 border-2 rounded-l-lg shadow-md cursor-pointer border-cat-light-grey hover:bg-cat-light-grey"
                                :class="{
                                    'font-bold text-cat-white bg-cat-light-grey':
                                        publicChat,
                                }"
                                @click="setPublicActive(true)"
                            >
                                <span class="px-2 text-sm">
                                    {{ $t('groups.public') }}
                                </span>
                            </div>
                            <div
                                class="flex items-center justify-center h-10 border-2 rounded-r-lg shadow-md cursor-pointer border-cat-light-grey hover:bg-cat-light-grey"
                                :class="{
                                    'font-bold text-cat-white bg-cat-light-grey':
                                        !publicChat,
                                }"
                                @click="setPublicActive(false)"
                            >
                                <span class="px-2 text-sm">
                                    {{ $t('groups.private') }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="flex justify-center mt-5 sm:justify-start sm:ml-6 rounded-xl"
                >
                    <input
                        type="text"
                        v-model="userSearchInput"
                        @input="searchAvailableUsers()"
                        class="h-10 p-4 text-md w-[250px] text-cat-white bg-cat-dark-grey focus:outline-none rounded-xl"
                        :placeholder="$t('groups.addUser')"
                    />
                </div>
                <div
                    class="h-[230px] gap-1 grid grid-cols-1 mx-6 mt-2 overflow-y-auto md:grid-cols-2 lg:grid-cols-8 scrollbar-thin scrollbar-track-gray-500 scrollbar-thumb-gray-800"
                >
                    <available-user-component
                        v-for="user in availableUsers"
                        :id="user.id"
                        :userName="user.userName"
                        :displayName="user.displayName"
                        @click="confirmAddUser(user.id)"
                        :class="{
                            'pointer-events-none cursor-wait': modifyingUsers,
                        }"
                    />
                </div>
                <div class="flex flex-col justify-center mt-4 ml-6 space-y-2">
                    <member-component
                        v-for="user in members"
                        :id="user.id"
                        :userName="user.userName"
                        :displayName="user.displayName"
                        :userIsAdmin="true"
                        @removeUser="confirmRemoveUser($event)"
                        :disableRemove="modifyingUsers"
                    />
                </div>
                <div class="flex justify-center mt-4 mb-4 space-x-8">
                    <button
                        type="submit"
                        class="disabled:bg-cat-light-grey disabled:bg-none btn-blue"
                        :disabled="!dataChanged"
                    >
                        {{ $t('saveChanges') }}
                    </button>
                    <button type="button" class="btn-gray" @click="abort()">
                        {{ $t('abort') }}
                    </button>
                </div>
            </form>
        </div>
        <modal-component
            v-if="userToAdd"
            :show="showAddUserConfirmation"
            @close="showAddUserConfirmation = false"
        >
            <template v-slot:header>
                {{ $t('groups.addUser') }}
            </template>
            <template v-slot:body>
                {{
                    $t('groups.addUserConfirmation', {
                        userToAdd: userToAdd!.displayName,
                    })
                }}
            </template>
            <template v-slot:footer>
                <div class="flex items-center justify-between">
                    <button
                        type="button"
                        class="btn-blue"
                        @click="addUser(userToAdd!.id)"
                    >
                        {{ $t('user.add') }}
                    </button>
                    <button
                        class="btn-gray"
                        @click="showAddUserConfirmation = false"
                    >
                        {{ $t('abort') }}
                    </button>
                </div>
            </template>
        </modal-component>
        <modal-component
            v-if="userToRemove"
            :show="showRemoveUserConfirmation"
            @close="showRemoveUserConfirmation = false"
        >
            <template v-slot:header>
                {{ $t('groups.removeUser') }}
            </template>
            <template v-slot:body>
                {{
                    $t('groups.removeUserConfirmation', {
                        userToRemove: userToRemove!.displayName,
                    })
                }}
            </template>
            <template v-slot:footer>
                <div class="flex items-center justify-between">
                    <button
                        type="button"
                        class="btn-blue"
                        @click="removeUser(userToRemove!.id)"
                    >
                        {{ $t('user.remove') }}
                    </button>
                    <button
                        class="btn-gray"
                        @click="showRemoveUserConfirmation = false"
                    >
                        {{ $t('abort') }}
                    </button>
                </div>
            </template>
        </modal-component>
    </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import AvailableUserComponent from '@/components/groups/AvailableUserComponent.vue';
import MemberComponent from '@/components/groups/MemberComponent.vue';
import { useNotificationStore } from '@/stores/notificationStore';
import { useChatStore } from '@/stores/chatStore';
import { useRouter, useRoute } from 'vue-router';
import { ErrorType } from '@/types/errors';
import { User } from '@/types/models';
import ModalComponent from '@/components/ui/ModalComponent.vue';
import { useUserStore } from '@/stores/userStore';
import { CONFIG } from '@/config';
@Options({
    components: {
        AvailableUserComponent,
        MemberComponent,
        ModalComponent,
    },
})
export default class GroupSettingsView extends Vue {
    chatStore = useChatStore();
    userStore = useUserStore();
    router = useRouter();
    route = useRoute();
    notificationStore = useNotificationStore();

    groupId = 0;

    name = '';
    description = '';
    capacity = 0;
    publicChat = true;
    availableUsers: User[] = [];
    members: User[] = [];

    searchTimeout = 0;
    userSearchInput = '';
    modifyingUsers = false;

    showAddUserConfirmation = false;
    userToAdd: User | null = null;
    showRemoveUserConfirmation = false;
    userToRemove: User | null = null;

    // TODO: display the errors in the form
    errors: ErrorType[] = [];

    created() {
        // get the selected group to edit from route params
        this.groupId = parseInt(this.route.params.id as string);

        // populate the input fields
        this.initFormData();

        // get group members
        this.getMembers();

        // get initial available users without delay
        this.searchAvailableUsers(0);
    }

    /**
     * Determine whether there were changes made to group data to be saved.
     */
    get dataChanged() {
        const group = this.chatStore.chatById(this.groupId)!;

        return (
            this.name != group.name ||
            this.description != group.description ||
            this.publicChat != group.publicChat
        );
    }

    setPublicActive(decision: boolean) {
        this.publicChat = decision;
    }

    /**
     * Copy the data of the group from the store.
     */
    initFormData() {
        const group = this.chatStore.chatById(this.groupId);

        // replace current route with 404 page if group is not found
        if (!group) {
            this.router.replace({ name: 'error-404' });
        }

        this.name = group!.name;
        this.description = group!.description;
        this.capacity = group!.capacity;
        this.publicChat = group!.publicChat;
    }

    /**
     * Get all the current members of the group.
     */
    async getMembers() {
        this.members = await this.chatStore.loadMembers(this.groupId, 0, 0);
    }

    /**
     * Search available chats, taking the input after 200ms.
     * Limit results to a maximum of USER_SEARCH_RESULTS with no offset.
     */
    searchAvailableUsers(timeout: number = 200) {
        clearTimeout(this.searchTimeout);
        this.searchTimeout = setTimeout(async () => {
            this.availableUsers = await this.chatStore.searchAvailableMembers(
                this.groupId,
                this.userSearchInput,
                CONFIG.USER_SEARCH_RESULTS,
                0
            );
        }, timeout);

        // filter out users that are already selected as members
        // neccessary because there could be local unsafed changes to the list
        const memberIds = this.members.flatMap((user) => user.id);

        this.availableUsers = this.availableUsers.filter(
            (user) => !memberIds.includes(user.id)
        );
    }

    /**
     * Show the confirmation modal for adding the specified user.
     */
    confirmAddUser(id: number) {
        this.userToAdd = this.availableUsers.find((user) => user.id === id)!;
        this.showAddUserConfirmation = true;
    }

    /**
     * Add the specified user to the members list.
     */
    async addUser(id: number) {
        this.modifyingUsers = true;
        this.errors = await this.chatStore.addMembers(this.groupId, [id]);
        this.modifyingUsers = false;

        if (this.errors.length === 0) {
            // display a success message
            this.notificationStore.displayNotification(
                this.$t('0017'),
                'success'
            );

            this.members.push(
                this.availableUsers.find((user) => user.id === id)!
            );

            // remove the user from the available users list
            this.availableUsers = this.availableUsers.filter(
                (user) => user.id != id
            );
        }

        this.showAddUserConfirmation = false;
    }

    /**
     * Show the confirmation modal for removing the specified user.
     */
    confirmRemoveUser(id: number) {
        this.userToRemove = this.members.find((user) => user.id === id)!;
        this.showRemoveUserConfirmation = true;
    }

    /**
     * Remove the specified user from the members list.
     */
    async removeUser(id: number) {
        this.modifyingUsers = true;
        this.errors = await this.chatStore.removeMember(this.groupId, id);
        this.modifyingUsers = false;

        if (this.errors.length === 0) {
            // display a success message
            this.notificationStore.displayNotification(
                this.$t('0024'),
                'success'
            );

            const user = this.members.find((member) => member.id === id)!;

            this.members = this.members.filter(
                (member) => member.id != user.id
            );

            // prepend the user to the available users list.
            this.availableUsers.splice(0, 0, user);
        }

        this.showRemoveUserConfirmation = false;
    }

    /**
     * Update the group by submitting the data.
     */
    async updateGroup() {
        this.errors = await this.chatStore.update(
            this.groupId,
            this.name,
            this.description,
            this.capacity,
            this.publicChat,
            this.members.map((member) => member.id)
        );
    }

    /**
     * Abort the group create and redirect back.
     */
    abort() {
        this.router.back();
    }
}
</script>
