<!--
    Authors: Adrian Leuteritz, Dominic Martin
-->

<template>
    <div class="flex flex-col items-center justify-start w-full h-full">
        <div
            class="flex items-center w-11/12 justify-start rounded-t-2xl bg-cat-green-grey h-[60px] px-3"
        >
            <h1 class="text-2xl text-cat-white font-koulen">
                {{ $t('groups.heading') }}
            </h1>
        </div>

        <div
            class="flex justify-between items-center px-3 overflow-x-hidden flex-col w-11/12 h-[calc(100%-100px)] bg-cat-grey rounded-b-2xl overflow-y-auto scrollbar-thin scrollbar-track-gray-500 scrollbar-thumb-gray-800"
        >
            <div class="flex flex-col items-center flex-grow">
                <div
                    class="flex flex-col items-center justify-center mt-4 md:space-x-10 md:flex-row"
                >
                    <div class="flex flex-col items-center">
                        <div
                            class="mb-2 w-[150px] h-[150px] sm:w-[200px] sm:h-[200px] md:w-[250px] md:h-[250px] flex items-center justify-center flex-none rounded-full bg-cat-light-grey"
                        >
                            <fas
                                class="w-[70px] h-[70px] sm:w-[120px] sm:h-[120px] md:w-[170px] md:h-[170px] text-cat-white"
                                icon="fa-solid fa-users"
                            />
                        </div>
                        <div
                            class="flex flex-col items-center justify-center w-48 shadow-xl rounded-xl"
                        >
                            <span
                                class="w-[80%] text-center text-cat-white text-3xl mt-4"
                            >
                                {{ chat?.name }}
                            </span>
                            <span class="text-sm text-cat-white"
                                >{{ chat?.memberCount }} /
                                {{ chat?.capacity }}</span
                            >
                            <span class="mb-4 text-sm text-cat-white">{{
                                chat?.publicChat
                                    ? $t('groups.public')
                                    : $t('groups.private')
                            }}</span>
                        </div>
                    </div>

                    <div class="flex flex-col items-center">
                        <textarea
                            class="mt-4 md:mt-0 w-[250px] h-[180px] md:w-[200px] md:h-[200px] lg:w-[350px] xl:w-[400px] xl:h-[250px] p-4 text-xs outline-none text-cat-white rounded-2xl bg-cat-dark-grey focus:shadow-md resize-none cursor-default"
                            readonly
                            v-model="chatDescription"
                        />
                    </div>
                </div>
                <div
                    class="h-[40px] py-2 flex justify-center items-center space-x-4 mt-4 bg-cat-dark-grey rounded-t-xl border-t-2 border-l-2 border-r-2 w-[90%] border-cat-dark-grey"
                >
                    <span class="text-cat-white">
                        {{ $t('groups.members_caption') }}
                    </span>
                    <input
                        class="px-3 py-1 text-center bg-cat-light-grey text-cat-white focus:outline-none rounded-xl"
                        type="message"
                        :placeholder="$t('groups.members_placeholder')"
                        v-model="memberSearchInput"
                        @input="searchMembers()"
                    />
                </div>

                <div
                    class="place-items-center grid gap-1 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 overflow-y-auto border-b-2 border-l-2 border-r-2 rounded-b-xl border-cat-dark-grey scrollbar-thin w-[90%] scrollbar-track-gray-500 scrollbar-thumb-gray-800 h-max min-h-48"
                >
                    <user-component
                        v-for="user in memberResults"
                        :id="user.id"
                        :userName="user.userName"
                        :displayName="user.displayName"
                    />
                </div>
            </div>

            <div class="flex items-center justify-center mt-4 mb-4 space-x-8">
                <button
                    v-if="!chatStore.myChat(chatId)"
                    class="text-cat-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                    @click="joinGroup()"
                    :disabled="joining"
                >
                    {{ $t('groups.join') }}
                </button>
                <button
                    v-else
                    class="text-cat-white bg-gradient-to-r from-pink-500 to-red-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                    @click="showLeaveGroupConfirmation = true"
                >
                    {{ $t('groups.leave') }}
                </button>
                <button
                    @click="abort()"
                    class="text-cat-white bg-gradient-to-r from-gray-600 to-gray-800 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-gray-600 dark:focus:ring-gray-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                >
                    {{ $t('back') }}
                </button>
            </div>
        </div>
        <modal-component
            :show="showLeaveGroupConfirmation"
            @close="showLeaveGroupConfirmation = false"
        >
            <template v-slot:header>
                {{ $t('groups.leaveHeading') }}
            </template>
            <template v-slot:body>
                {{ $t('groups.leaveConfirmation', { group: chat?.name }) }}
            </template>
            <template v-slot:footer>
                <div class="flex items-center justify-between">
                    <button class="btn-red" @click="leaveGroup()">
                        {{ $t('groups.leave') }}
                    </button>
                    <button
                        @click="showLeaveGroupConfirmation = false"
                        class="btn-gray"
                    >
                        {{ $t('back') }}
                    </button>
                </div>
            </template>
        </modal-component>
    </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import UserComponent from '@/components/groups/UserComponent.vue';
import { useNotificationStore } from '@/stores/notificationStore';
import ModalComponent from '@/components/ui/ModalComponent.vue';
import { useChatStore } from '@/stores/chatStore';
import { useRoute, useRouter } from 'vue-router';
import { User } from '@/types/models';
import { ErrorType } from '@/types/errors';

@Options({
    components: {
        UserComponent,
        ModalComponent,
    },
    props: {},
})
export default class GroupProfileView extends Vue {
    chatStore = useChatStore();
    route = useRoute();
    router = useRouter();
    notificationStore = useNotificationStore();

    chatId: number = 0;

    errors: ErrorType[] = [];

    members: User[] = [];
    memberResults: User[] = [];
    memberSearchInput = '';

    joining = false;
    showLeaveGroupConfirmation = false;

    async created() {
        this.chatId = parseInt(this.route.params.id as string);

        this.members = await this.chatStore.loadMembers(this.chatId, 0, 0);
        this.memberResults = this.members;
    }

    get chat() {
        return (
            this.chatStore.chatById(this.chatId) ||
            this.chatStore.searchResults.find((chat) => chat.id == this.chatId)
        );
    }

    get chatDescription() {
        return this.chat?.description || '';
    }

    /**
     * Simple local search for members.
     */
    searchMembers() {
        const search = this.memberSearchInput.toLowerCase();

        this.memberResults = this.members
            .filter((member) =>
                member.displayName.toLowerCase().includes(search)
            )
            .sort((a, b) => {
                // this sorts the members by best matching results
                return (
                    a.displayName.toLowerCase().indexOf(search) -
                    b.displayName.toLowerCase().indexOf(search)
                );
            });
    }

    /**
     * Join the group.
     */
    async joinGroup() {
        this.joining = true;
        this.errors = await this.chatStore.joinChat(this.chatId);
        this.joining = false;

        if (this.errors.length === 0) {
            // show a success message
            this.notificationStore.displayNotification(
                this.$t('0012', {
                    groupName: this.chat?.name,
                }),
                'success'
            );

            // redirect to joined chat and set it active
            this.chatStore.activeChatId = this.chatId;
            this.router.push({ name: 'chat' });
        }
    }

    /**
     * Leave the group.
     */
    async leaveGroup() {
        const name = this.chat?.name;
        this.errors = await this.chatStore.leaveChat(this.chatId);

        if (this.errors.length === 0) {
            // show a success message
            this.notificationStore.displayNotification(
                this.$t('0013', {
                    groupName: name,
                }),
                'success'
            );

            // (functionally equivalent to last part of initChat in utils)
            if (this.chatStore.chats.length > 0) {
                // redirect to chat with lowest id
                // TODO: make this dynamic
                this.chatStore.activeChatId = this.chatStore.chats[0].id;
                this.router.push({ name: 'chat' });
            } else {
                this.chatStore.activeChatId = 0;
                // redirect to all groups list to find a chat to join
                this.router.push({ name: 'groups' });
            }
        }
    }

    /**
     * Redirect back.
     */
    abort() {
        this.router.back();
    }
}
</script>
