<!--
    Authors: Dominic Martin
-->

<template>
    <div class="w-full h-full overflow-hidden">
        <chat-component
            :chatId="chatStore.activeChatId"
            v-if="userStore.loggedIn"
        />
    </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import ChatComponent from '@/components/chat/ChatComponent.vue';
import { useUserStore } from '@/stores/userStore';
import { useChatStore } from '@/stores/chatStore';

@Options({
    components: { ChatComponent },
})
export default class DashboardView extends Vue {
    userStore = useUserStore();
    chatStore = useChatStore();
}
</script>
